*{
box-sizing:border-box;
}


body{

margin:0;

font-family:
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Arial;


background:
linear-gradient(
135deg,
#0f172a,
#162447
);


color:white;

min-height:100vh;

}



.container{

max-width:900px;

margin:auto;

padding:60px 20px;

}




header{

text-align:center;

margin-bottom:60px;

}




.avatar{

width:160px;

height:160px;

border-radius:50%;

margin:auto;

display:flex;

align-items:center;

justify-content:center;


font-size:70px;


background:
rgba(255,255,255,0.08);


border:
3px solid #00ff99;


backdrop-filter:
blur(10px);

}





h1{

font-size:3em;

color:#00ff99;

}



.tagline{

color:#aaa;

font-size:1.2em;

}




.status{


margin:30px auto;

padding:25px;


background:
rgba(255,255,255,.08);


border-radius:20px;


backdrop-filter:
blur(15px);


}



#status{

font-size:1.5em;

color:#00ff99;

}




.section{


background:
rgba(255,255,255,.08);


border-radius:20px;


padding:30px;


margin-bottom:30px;


backdrop-filter:
blur(15px);


border:
1px solid rgba(255,255,255,.15);


}





h2{

color:#00ff99;

border-bottom:
2px solid #00ff99;


padding-bottom:10px;

}




.project{


background:
rgba(0,0,0,.25);


padding:20px;


border-radius:15px;


margin-bottom:15px;


}




.skills{


display:flex;

flex-wrap:wrap;

gap:10px;


}




.skill-tag{


background:#064e3b;


padding:8px 18px;


border-radius:30px;


color:#00ff99;


}




.links{


display:flex;

justify-content:center;

gap:20px;


}



.links a{


color:#00ff99;


border:
2px solid #00ff99;


padding:12px 25px;


border-radius:10px;


text-decoration:none;


transition:.3s;


}




.links a:hover{


background:#00ff99;

color:#111;


}




footer{


text-align:center;

color:#777;

margin-top:50px;


}
